
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School Members Database</title>
  </head>
  <body>
    <h1>View Members Details</h1>
      <ul id='member_details'>
      <% @members.each do |member| %>
        <li>
          First Name: <%= member.first_name %>
          Last Name: <%= member.second_name %>
          Email:     <%= member.email %>
                    <%= member.school_id %>
        </li>
      <% end %>
      </ul>
        <ul id='school_details'>
        <% @schools.each do |school| %>
          <li>
            School:   <%= school.school %>
                      <%= school.member_id %>
          </li>
      <% end %>
      </ul>
      <form action='/input_details'>
      	<input type="submit" value='Add New Member'>
      </form>
  </body>
</html>
